body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 100px;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.top-20 {
    margin-top: 20px;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: darkturquoise;
    font-weight: bold;
}

label.form {
    font-size: 14px;    
}

select {
    height: 30px;
}

.section div:nth-child(2),
.section div:nth-child(3) {
    margin-top: 10px;
}

h3 {
    color: darkorange;
}