<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FlightSurety</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">FlightSurety</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <main class="container">

        <!-- Operational status -->
        <div class="section row top-20">            
            <div class="col-12">
                <h3>Check if contract is operational</h3>
            </div>
            <div class="col-12">                    
                <h6>Operational status: <span id ="operationalStatus" class="field-value"></span> </h6> 
            </div>
        </div>

         <!-- Passanger airline choice -->
         <div class="section row top-20">            
                <div class="col-12">
                    <h3>Passanger airline choice</h3>
                </div>
                <div class="col-1">
                    <label class="form">Passenger</label>                                   
                </div>
                <div class="col-11">
                    <select id="passengersList"> 
                        <option v-for="passenger in passengers">
                            {{ passenger }}                            
                        </option>
                    </select> 
                    <div>                   
                        Balance: <span class="field-value" id="balance"></span> Ether
                    </div>
                    <div>                   
                        Funds: <span class="field-value" id="funds"></span> Ether
                        <button v-show="!alreadyBought" class="btn btn-primary" id="btnFunds">Withdraw</button>      
                    </div>
                </div>                     
                <div class="col-1" style="margin-top: 20px;">
                    <label class="form">Flights</label>
                </div>
                <div class="col-11" style="margin-top: 20px;">                                                       
                    <select id="flightsList"> 
                        <option v-for="(value, key, index) in airlines_flights.flights" v-bind:value="key">   
                                {{ airlines_flights.airlines[key].name }}                                                                                       
                                {{ value.flightCode }}  
                                {{ value.description }}       
                        </option>
                    </select>       
                    <span id="showBuyButton">                                     
                        <input v-show="!alreadyBought" type="number" id="suretyValue" style="width: 50px;" value="0.1" min="0.1" max="1" step="0.1"> Ether
                        <button v-show="!alreadyBought" class="btn btn-primary" id="btnBuySurety">Purchase surety</button>                                        
                        <span v-show="alreadyBought" style="color: #00FF00;">This passenger has bought a surity for this flight.</span>
                    </span>
                </div>                     
            </div>

        <!-- Oracles -->
        <div class="section row top-20">
            <div class="col-12">
                <h3>Request flight status</h3>
            </div>
            <div class="col-12">                               
                <ul id="flightsList2"> 
                    <li v-for="(value, key, index) in airlines_flights.flights" v-bind:value="key" style="margin-top: 25px;">   
                        <button class="btn btn-primary" id="submit-oracle" v-bind:data-index="key">Submit to Oracles</button>    
                        {{ airlines_flights.airlines[key].name }}                                                                                       
                        {{ value.flightCode }}  
                        {{ value.description }}                              
                    </li>                    
                </ul>                                         
            </div>          
        </div>
    </main>

</body>

</html>